<style>
  .container{
    text-align: center;
  }
</style>
<script src="https://kit.fontawesome.com/5220950911.js" crossorigin="anonymous"></script>
<footer class="page-footer" style="background-color: #898988;">
  <div class="container">
    <div class="row">
      <div class="container">
        <h5 class="white-text">대구 경북 아이디어톤</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/2020-%EB%8C%80%EA%B5%AC-%EA%B2%BD%EB%B6%81-%EC%95%84%EC%9D%B4%EB%94%94%EC%96%B4%ED%86%A4-108101124240142"><i class="fab fa-facebook-square fa-2x"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    ALL RIGHTS RESERVED 2020 © LIKE LION at DGIST
    </div>
  </div>
</footer>
