<nav class="navbar navbar-solid-transition z-depth-0 dgist-blue-dark">
    <div class="nav-wrapper">
    <a href="{% url 'main' %}" class="brand-logo white-text logo hide-on-med-and-up" style="font-size:1.2rem;">2020 대구 경북 아이디어톤</a>
    <div class="container">
        <div class="row center" style="margin:0px;">

            <ul id="nav-mobile" class="hide-on-small-only brand-logo center col s12">
            <li style="display: inline; float:none;">
                <a class="page-link white-text" href="{% url 'notice'%}" style="display: inline-block;">공지사항</a>
            </li>
            {% if user.is_authenticated %}
            <li style="display: inline; float:none;">
                <a class="page-link white-text" href="{% url 'recruit'%}" style="display: inline-block;">팀빌딩</a>
            </li>
            <li style="display: inline; float:none;">
                <a class="page-link white-text" href="{% url 'edu'%}" style="display: inline-block;">교육자료</a>
            </li>
            <li style="display: inline; float:none;">
                <a class="page-link white-text" href="{% url 'midterm'%}" style="display: inline-block;">중간 피드백</a>
            </li>
            <li style="display: inline; float:none;">
                <a class="page-link white-text" href="{% url 'final'%}" style="display: inline-block;">최종 결과물</a>
            </li>
            {% endif %}
            <!--
            <li style="display: inline; float:none;">
                <a class="page-link white-text" href="{% url 'poll'%}" style="display: inline-block;">시민 투표</a>
            </li>
            -->
            <li style="display: inline; float:none;">
            <a class="page-link white-text" href="{% url 'qna' %}" style="display: inline-block;">QnA</a>
            </li>
            {% if user.is_authenticated %}
            <form style="display: inline; float:none;" id="logout" method="POST" action="{% url 'sign_out' %}">
                <li style="display: inline; float:none;">
                    {% csrf_token %} <button class="page-link white-text logout" type="submit">로그아웃</button>
                </li>
            </form>
            <li style="display: inline; float:none;">
                <a class="page-link white-text" href="{% url 'edit_pwd'%}" style="display: inline-block;">비밀번호 변경</a>
            </li>
            {% else %}
            <li style="display: inline; float:none;">
                <a class="page-link white-text" href="{% url 'sign_in'%}" style="display: inline-block;" >로그인</a>
            </li>
            {% endif %}
            </ul>

        <a href="#" data-target="slide-out" class="sidenav-trigger button-collapse left hide-on-med-and-up"><i class="material-icons white-text">menu</i></a>

        </div>

    </div>

    </div>
</nav>

<ul id="slide-out" class="sidenav dgist-blue-mid">
    <li>
        <a class="page-link white-text" href="{% url 'notice'%}" style="display: inline-block;">공지사항</a>
    </li>
    {% if user.is_authenticated %}
    <li>
        <a class="page-link white-text" href="{% url 'recruit'%}" style="display: inline-block;">팀빌딩</a>
    </li>
    <li>
        <a class="page-link white-text" href="{% url 'edu'%}" style="display: inline-block;">교육자료</a>
    </li>
    <li>
        <a class="page-link white-text" href="{% url 'midterm'%}" style="display: inline-block;">중간 피드백</a>
    </li>
    <li>
        <a class="page-link white-text" href="{% url 'final'%}" style="display: inline-block;">최종 결과물</a>
    </li>
    {% endif %}
    <!--
    <li>
        <a class="page-link white-text" href="{% url 'poll'%}" style="display: inline-block;">시민 투표</a>
    </li>
    -->
    <li>
        <a class="page-link white-text" href="{% url 'qna' %}" style="display: inline-block;">QnA</a>
    </li>
    {% if user.is_authenticated %}
    <form style="display: inline; float:none;" id="logout" method="POST" action="{% url 'sign_out' %}">
        <li style="display: inline; float:none;">
            {% csrf_token %} <button class="page-link white-text logout" type="submit">로그아웃</button>
        </li>
    </form>
    <li style="display: inline; float:none;">
        <a class="page-link white-text" href="{% url 'edit_pwd'%}" style="display: inline-block;">비밀번호 변경</a>
    </li>
    {% else %}
    <li style="display: inline; float:none;">
        <a class="page-link white-text" href="{% url 'sign_in'%}" style="display: inline-block;" >로그인</a>
    </li>
    {% endif %}
</ul>
